@model TesteDevDbm.Models.Cliente 

@{
    ViewData["Title"] = "Detalhes do cliente";
}

<h1>Detalhes</h1>

<div>
    <dl class="row">
        <input type="hidden" asp-for="IdCliente" />
        <dt class="col-sm-2">
            Nome
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Nome)
        </dt>
        <dt class="col-sm-2">
            E-mail
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Email)
        </dt>
        <dt class="col-sm-2">
            Telefone
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Telefone)
        </dt>
        <dt class="col-sm-2">
            Endereço
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Endereco)
        </dt>
    </dl>
</div>
<a asp-action="Editar" asp-route-id="@Model.IdCliente">Editar</a>
<a asp-action="Index">Voltar</a>