@model IEnumerable<TesteDevDbm.Models.Cliente>
@{
    ViewData["Title"] = "Listagem de clientes";
}

<h2>Clientes</h2>

<p>
    <a asp-action="Criar">Novo Cliente</a> 
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                E-mail
            </th>
            <th>
                Telefone
            </th>
            <th>
                Endereço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Endereco)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.IdCliente">Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.IdCliente">Detalhes</a> |
                    <a asp-action="Deletar" asp-route-id="@item.IdCliente">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>